.social {
  list-style: outside none none;
  padding: 0;
  margin: 0;

  li {
    padding: 0 0.5rem 0 0.5rem;
    margin: 0;
    display:inline;

    a:hover,
    a:focus {
      color: $header-color;
    }
  }
}

.twitter-tweet {
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* For responsive Youtube embedded videos */
.video-container {
position: relative;
margin: 30px;
padding-bottom: 50%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
} 
