$theme-color: #202020;

$body-color: #202020;
$body-bg-color: #fff; 

$footer-color: rgba(255,255,255,.5);
$footer-bg-color: $theme-color;
$footer-link-color: white;
$footer-height: 10rem;

$header-color: $footer-color;
$header-bg-color: $theme-color;
$header-link-color: $footer-link-color;

$hyperlink-color: #268bd2;

$header-font: "Roboto Slab", serif;
$main-font: sans-serif;
